<div class="form-wrapper">
  <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <div class="form-group">
      <%= f.label :image %>
      <%=f.file_field :image%>
    </div>
    <div class="form-group text-center">
      <%= f.label :caption %>
      <%= f.text_area :caption%>
    </div>
    <div class="form-group text-center">
      <%= f.submit :Upload, class: 'btn-success' %>
    </div>
  <% end %>
</div>